
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
				<%= image_tag "logo-active.png", :alt => "Logo " ,width: "80" %></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
				    <% if signed_in? %>
					<li><a href="#intro">Intro</a></li>
					<li><a href="#services">Posts</a></li>
					<li><a href="#team">Friends</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li class="light white"><a>Welcome <b><%= current_user.fullName %></b></a></li>
					
					<li><%= link_to "Settings",edit_user_path(current_user) , :class => "btn btn-blue",:remote => true, 'data-toggle' => 'modal', 'data-target' => '#modal3',method: 'post' %></li>
					<li>
					<%= link_to 'Sign Out',logout_path,method:  "delete", :class => "btn btn-blue"  %>
					</li>

					<% else %>

					<li>
					<%= link_to "Sign In", new_user_path, :remote => true, 'data-toggle' => 'modal', 'data-target' => '#modal2', :class => "btn btn-blue", method: 'post' %>
					</li>
					<li>
					<%= link_to "Sign Up", new_user_path, :remote => true, 'data-toggle' => 'modal', 'data-target' => '#modal1', :class => "btn btn-blue", method: 'get' %>
					</li>
					<% end %>
					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Be Beside Your Friends.</h3>
							<h1 class="white typed">Connect With Them Right Now.</h1>
							<span class="typed-cursor">|</span>
							<% if !flash.empty? %>
								<h4 class="light white">
									<% flash.each do |key, value| %>
		  								<%= content_tag :div, value, class: "flash #{key}" %>

									<% end %>
									
								</h4>
   							 <% end %>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>